.board {
  position: relative;
  .toolbar {
    height: 40px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    border-bottom: 1px solid #5397d2;
    z-index: 100;
    text-align: center;
    color: #5397d2;
    background: #ffffff;
  }
  .json {
    padding: 60px 20px 20px;
    display: block;
    height: 100%;
    overflow: auto;
    z-index: 0;
  }
  .error {
    color: red;
    word-break: break-all;
  }
}
