.source {
  position: relative;
  z-index: 100;
  .toolbar {
    height: 40px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    border-bottom: 1px solid #5397d2;
    z-index: 100;
    text-align: center;
    color: #5397d2;
    background: #ffffff;
  }
  textarea {
    z-index: 0;
    resize: none;
    padding: 50px 10px 10px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    &:focus {
      outline: none;
    }
  }
}
.arrowWrapper {
  height: 100%;
  width: 1px;
  position: absolute;
  right: 0;
  top: 0;
  background: #5397d2;
  .arrow {
    position: absolute;
    right: -30px;
    top: 50%;
    margin-top: -30px;
    height: 60px;
    width: 60px;
    border: 1px solid #5397d2;
    border-radius: 30px;
    background: #ffffff;
    > div {
      cursor: pointer;
      width: 100%;
      height: 100%;
      background: url('./swoosh-right.svg') no-repeat center center;
      background-size: contain;
    }
  }
}
