.app {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;

  .source {
    flex: 1;
    flex-shrink: 0;
    overflow: auto;
  }
  .board {
    flex: 2;
    flex-shrink: 0;
    overflow: auto;
  }
}
